body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}


.site-header {
  position: relative;
  padding: 0 10px;
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: bold;
}

.main-menu a {
  display: block;
  width: 220px;
  padding-top: 13px;
  padding-bottom: 17px;
  color: #000000;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #81b3d2;
}

.main-menu a:active {
  color: #b2b2b2;
}

.main-menu .item-left {
  padding-left: 40px;
  text-align: left;
}

.main-menu .item-right {
  padding-right: 40px;
  text-align: right;
}

.main-menu li:nth-child(3) {
  margin-left: 140px;
}

.info {
  background-color: #ffffff;
  text-align: center;
  color: #333333;
}

.info h1,
.info h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.info h1 {
  width: 450px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 35px;
}

.info h2 {
  margin: 0 auto;
  width: 160px;
  margin-bottom: 13px;
}

.info p {
  margin-bottom: 55px;
}

.reasons p {
  margin: 0;
  margin-top: 10px;
}

.reasons,
.reason-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reason-card {
  width: 298px;
  height: 166px;
  padding: 45px 51px;
}

.reason-item {
  width: 298px;
  height: 210px;
  padding: 60px 51px;
}

.reason-item h3 {
  margin: 18px auto;
}

.reason-image {
  width: 800px;
  height: 256px;
}

.reason-first {
  display: flex;
  flex-direction: column;
}

.reason-second {
  display: flex;
}

.reason-wrapper {
  display: flex;
}

.reason {
  background-color: #eeeeee;
}

.reason-items {
  background-color: #ffffff;
}

.reason-first .reason-card,
.reason-second .reason-card {
  color: #ffffff;
  background-color: #81b3d2;
}

.hotels {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 55px;
}

.hotels span {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.hotels p {
  color: #333333;
  margin-top: 35px;
  margin-bottom: 50px;
}

.popup-btn {
  display: block;
  padding-top: 28px;
  padding-bottom: 26px;
  margin: 0 auto;
  width: 570px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.popup-btn:hover,
.popup-btn:focus {
  background-color: #604e43;
}

.popup-btn:active {
  color: #766860;
  background-color: #503e33;
}

.hotel-search {
  position: absolute;
  top: 305px;
  left: 315px;
  width: 460px;
  margin: 0 auto;
  font-weight: bold;
  padding: 55px;
  text-align: left;
  background-color: #ffffff;
}

.hotel-search ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-search li {
  margin-bottom: 30px;
}

.hotel-search input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.hotel-search input::placeholder {
  color: #000000;
  text-transform: uppercase;
}

.hotel-date input {
  width: 333px;
  padding-left: 12px;
  margin-left: 23px;
}

.hotel-date .date {
  margin-left: 19px;
}

.hotel-people {
  display: flex;
}

.hotel-people li {
  width: 230px;
}

.hotel-people input {
  width: 115px;
}

.form-submit {
  width: 460px;
  padding-top: 16px;
  padding-bottom: 18px;
  margin-top: 25px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #669ec0;
}

.form-submit:active {
  color: #7aadcb;
  background-color: #5496bd;
}

.site-footer {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  padding: 36px 0;
}

.hashtag {
  margin: 0;
  padding-top: 15px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 400px;
}

.contacts {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 150px;
  min-height: 45px;
}

.contacts li {
  position: relative;
  width: 46px;
  background-color: #81b3d2;
}

.contacts a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.contacts li:hover,
.contacts li:focus {
  background-color: #669ec0;
}

.contacts li:active {
  background-color: #5496bd;
}

.footer-copyright {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.footer-copyright p {
  margin: 0;
  padding-top: 7px;
}

.sorting {
  display: flex;
  padding: 30px 72px;
  background-color: #ffffff;
}

.sorting .result {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 135px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding-left: 28px;
  padding-right: 5px;
}

.sorting-btn {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-btn .btn {
  margin-left: 32px;
  font-size: 12px;
  line-height: 18px;
  color: #c0c0c0;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-btn .btn:hover,
.sorting-btn .btn:focus {
  color: #81b3d2;
}

.sorting-btn .btn:active {
  color: #000000;
  border: none;
}

.btn.active {
  color: #81b3d2;
  border: none;
}

.arrows {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.arrows .arrow {
  background-color: #ffffff;
  border: none;
  outline: none;
}

.catalog {
  background-color: #ffffff;
}

.hotels-list,
.rating-stars {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rating {
  background-color: #f2f2f2;
}

.item-info .title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.item-info .title:hover,
.item-info .title:focus {
  color: #81b3d2;
}

.item-info .title:active {
  color: #b2b2b2;
}

.item-btn {
  color: #ffffff;
  font-weight: bold;
  padding: 5px 17px;
}

.item-btn.detail {
  background-color: #81b3d2;
  margin-right: 6px;
}

.item-btn.detail:hover,
.item-btn.detail:focus {
  background-color: #669ec0;
}

.item-btn.detail:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.item-btn.reservation {
  background-color: #766357;
}

.item-btn.reservation:hover,
.item-btn.reservation:focus {
  background-color: #604e43;
}

.item-btn.reservation:active {
  color: #857871;
  background-color: #503e33;
}

.list-item {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px;
}

.list-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.item-info {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  padding-left: 30px;
}

.item-category {
  width: 110px;
}

.item-rating {
  margin-left: auto;
}
